<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495122116859-eiq9oikre1r827hgiqghptgerdekq315.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495122116859-eiq9oikre1r827hgiqghptgerdekq315</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>495122116859-8q1mdkcbvirco32rp0fdsv24hu6ithn2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA05Jezg9BnwfOUk3hYcUwO3oyW92k6Mt4</string>
	<key>GCM_SENDER_ID</key>
	<string>495122116859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hhp227.DateMate</string>
	<key>PROJECT_ID</key>
	<string>datemate-4d516</string>
	<key>STORAGE_BUCKET</key>
	<string>datemate-4d516.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495122116859:ios:eef9323daa1f2e3b25805e</string>
	<key>DATABASE_URL</key>
	<string>https://datemate-4d516.firebaseio.com</string>
</dict>
</plist>